<h5>Listado de personajes</h5>
<ul class="list-group">
  <li *ngFor="
    let character of characterList;
    let i = index;
    first as isFirst;
    last as isLast;
    even as isEven;
    odd as isOdd;
  "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-dark': isLast,
      'list-group-item-primary': isEven
    }"

    >

    <div>
      <span>{{ i + 1 }}. </span>
      <span>{{character.name}} </span>
      <strong>- Power: </strong>
      <span>({{character.power}})</span>
    </div>

    <button class="btn btn-danger" (click)="onDeleteCharacter(character.id)">X</button>
  </li>

</ul>
